/* 
    Document   : movies4us
    Created on : Apr 25, 2012, 11:08:12 PM
    Author     : arka
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
    background-color: #4298c8;
    
    background-image: url(logo.png);
}

h1,h2,h3,h4,h5,h6{
    color: #c8bd42;

}

table{
    
    width: 100%;
    
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-top-style: none;
}

td{
    
}
.loginForm{
    
}

.tabledata{
    color: #c8bd42;
    font-weight: bold;
}

.mainButton{
    background-image: url(button.png);
}

.leftcol{
    text-align: center;
    vertical-align: top;
}

.rightcol{
    text-align: center;
    vertical-align: top;
}

.groupTable{
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-color: silver;
    border-left-color: silver;
    border-bottom-color: silver;
    border-top-color: silver;
    height: 100%;
    
}

.leftpadtable{
    width: 25%;
}

.rightpadtable{
    width: 25%;
}

.leftpadtablesmall{
    width: 15%;
}

.rightpadtablesmall{
    width: 15%;
}